<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://unpkg.com/@kodim/design@0.0.2/dist/kodimd.min.css" />
  
  <title>{{ title }}</title>
</head>
<body>
  <header>
    <div class="container-md header">
      <div class="site-title">{{ title }}</div>
    </div>
  </header>
  <div class="container-md">
    <div class="panel">
      <div class="article-layout">
        <div class="article-content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
